<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927644121483-379to3gbpb6b2iss8b8dkjteruvecf1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927644121483-379to3gbpb6b2iss8b8dkjteruvecf1j</string>
	<key>API_KEY</key>
	<string>AIzaSyAeh_3W_CrU_M9IcNQBxfRSXlbDIcJPtLw</string>
	<key>GCM_SENDER_ID</key>
	<string>927644121483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChessliderBeta0</string>
	<key>PROJECT_ID</key>
	<string>cheider</string>
	<key>STORAGE_BUCKET</key>
	<string>cheider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927644121483:ios:f7eb05ebb66ac13c22578e</string>
</dict>
</plist>